@page
@model Hangman.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <div><img src="~/images/hangman-@(Model.Game.IncorrectGusses).gif" /></div>
    <p>@Model.Phrase</p>
    <p>@Model.Message</p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Enter a Guess: <input asp-for="Guess" /></div>
        <input type="submit" asp-route-id="@Model.Game.Id" />
    </form>
</body>
</html>