@page
@model Hangman.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <p>Enter a guess.</p>
    <p>@Model.Word</p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <input asp-for="Guess.Count" value="@Model.GuessCount" type="hidden" />
        <div>Character: <input asp-for="Guess.Character" /></div>
        <input type="submit" />
    </form>
</body>
</html>